# Database configuration
DATABASE_NAME=task_manager
DATABASE_USER=postgres
DATABASE_PASSWORD=yourpassword

# JWT configuration
JWT_SECRET=yourjwtsecret
JWT_REFRESH_SECRET=yourjwtrefreshsecret

# Admin user configuration
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=yourpassword

# Server configuration
PORT=3000