@use '../../../../styles/auth' as *;

:host {
  --auth-card-max-width: 440px;
}

.field-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  margin-bottom: 20px;

  .field {
    margin-bottom: 0;
  }
}
