@import '@angular/cdk/overlay-prebuilt.css';

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

[cdkDropListGroup] {
  display: flex;
  gap: 16px;
}

[cdkDropListGroup] > div {
  flex: 1;
}

[cdkDropList] {
  min-height: 100px;
  border: 2px dashed #ccc;
}
